body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #111111;
  color: lightgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main, nav, p {
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto;
}

p {
  overflow-wrap: anywhere;
}

@media (max-width: 56rem){
  h1, h2, h3, h4, p, nav {
    padding: 0 0.5rem 0 0.5rem;
  }
}

a:link, a:visited {
  color: green;
  text-decoration: none;
}

a:hover, a:active {
  color: white;
}

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}
