body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main, nav {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

p {
  overflow-wrap: anywhere;
}

@media (max-width: 51rem){
  h1, h2, h3, h4, p, nav {
    padding: 0 0.5rem 0 0.5rem;
  }
}

a:link, a:visited {
  color: green;
  text-decoration: none;
}

a:hover, a:active {
  color: black;
}

.slick-list {
  min-height: 100vh;
}
